.footer {
  background: #070033;
  color: #fbfaff;
  padding-block: 20px;
}

.footer > * {
  text-align: center;
  font-size: 1rem;
  font-family: Mali;
}

.footer > p span {
  font-family: Copse;
}
