* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p,
ul,
button,
dl,
dd {
  margin: 0;
  padding: 0;
}

body > :first-child {
  text-align: center;
  padding: 1em 0.5em;
  background: #70f;
  color: #fff;
  font-family: "Copse";
}

body > :first-child p {
  font-size: 1.25rem;
  line-height: 1.4;
  max-width: 800px;
  margin: 0 auto;
}

body > :first-child span {
  font-family: "Mali";
}

body > :first-child a {
  color: #fff;
  text-decoration: underline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

#previas.container {
  max-width: 1400px;
  padding-inline: 32px;
}
