* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p,
ul,
button,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

#previas.container {
  max-width: 1400px;
  padding-inline: 32px;
}
