* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p,
ul,
button,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#070033, #4400cc);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 40px;
}

#previas.container {
  max-width: 1400px;
  padding-inline: 32px;
}

.subtitle {
  font-family: Mali;
  font-size: 3rem;
  margin-bottom: 1em;
}

@media (max-width: 960px) {
  .subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 680px) {
  .subtitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 1.5rem;
  }
}
