.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 1.5rem;
}

.header__menu a {
  font-family: Copse;
  font-size: 1.25rem;
  color: #131317;
  padding: 0.5em 1em;
}

.header__menu a:hover {
  color: #70f;
}

@media (max-width: 680px) {
  .header > :first-child {
    width: 120px;
  }
  .header {
    flex-direction: column;
    gap: 1.25rem;
  }
  .header__menu {
    display: flex;
    gap: 1.25rem;
  }
  .header__menu a {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    background: #f0eff8;
    color: #131317;
  }
  .header__menu a:hover {
    background: #cccbd5;
    color: #131317;
  }
}

@media (max-width: 480px) {
  .header > :first-child {
    width: 100px;
  }
  .header__menu {
    gap: 1rem;
  }
  .header__menu li a {
    font-size: 0.875rem;
  }
}
