.intro {
  padding-block: 60px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px;
}

.intro__content > * + * {
  margin-top: 1em;
}

.intro__content > :first-child {
  font-size: 3.75rem;
  line-height: 1.25;
  font-family: "Copse";
}

.intro__content > :first-child span {
  color: #70f;
}

.intro__content > :nth-child(2) {
  font-size: 2rem;
  line-height: 1.4;
  font-family: "Mali";
}

.intro__content > :last-child {
  font-family: Copse;
  background: #070033;
  color: #fbfaff;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0.5em 1em;
}

.intro__content > :last-child:hover {
  background: #107;
  color: #fbfaff;
}

.intro__img > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

@media (max-width: 960px) {
  .intro__content > :first-child {
    font-size: 3rem;
  }
  .intro__content > :nth-child(2) {
    font-size: 1.75rem;
  }
}

@media (max-width: 680px) {
  .intro {
    grid-template-columns: 1fr;
    padding-block: 40px;
  }

  .intro__content > :first-child {
    font-size: 2.75rem;
  }
  .intro__content > :nth-child(2) {
    font-size: 1.5rem;
  }
  .intro__content > :last-child {
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
  }
  .intro__img > * {
    width: 420px;
  }
}

@media (max-width: 480px) {
  .intro__content > :first-child {
    font-size: 2.25rem;
  }
  .intro__content > :nth-child(2) {
    font-size: 1.25rem;
  }
  .intro__img > * {
    width: 380px;
  }
}
