.materiais__lista {
  padding-block: 60px;
  display: grid;
  gap: 60px;
  grid-template-columns: auto auto;
  justify-items: center;
}

.materiais__item {
  max-width: 656px;
  width: 100%;
  display: grid;
  grid-template-rows: 160px auto 1fr auto;
}

.materiais__item > * + * {
  margin-top: 1em;
}

.materiais__item:last-child {
  grid-column: 1/-1;
  background: #070033;
  color: #fbfaff;
  padding: 2rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.materiais__item > :first-child::before {
  display: block;
  font-family: "Mali";
  font-size: 1rem;
  color: #070033;
  border: 2px solid #070033;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: fit-content;
}

.materiais__item:last-child > :first-child::before {
  content: "RECOMENDADO - Melhor Custo Benefício 🌟";
  background: green;
  color: #fff;
  border: none;
  margin-inline: auto;
}

.materiais__item:first-child > :first-child::before {
  content: "+ de 5 HORAS de curso! ⏰";
}

.materiais__item:nth-of-type(2) > :first-child::before {
  content: "+ de 9 HORAS de curso! ⏰";
}

.materiais__item > :first-child {
  font-size: 2rem;
  font-family: "Copse";
}

.materiais__item > :nth-child(2) {
  width: 420px;
}

.materiais__item:last-child > :nth-child(2) {
  width: 100%;
}

.materiais__item > :last-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;
}

.materiais__item > p {
  font-family: Copse;
  font-size: 1.5rem;
  color: #a7a6b2;
}

.materiais__item > :last-child a {
  font-family: Copse;
  font-size: 1.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  background: #70f;
  color: #fbfaff;
}

.materiais__item > :last-child a:hover {
  background: #107;
}

.materiais__item__lista {
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: "Copse";
}

.materiais__item__lista li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px;
}

.materiais__item__lista li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../icon/check.svg") no-repeat;
}

.materiais__item:last-child .materiais__item__lista li::before {
  background: none;
}

.materiais__item__lista > * + * {
  margin-top: 1em;
}

@media (max-width: 960px) {
  .materiais__item > :first-child {
    font-size: 1.75rem;
  }
  .materiais__item > :nth-child(2) {
    width: 280px;
  }
  .materiais__item > :last-child a,
  .materiais__item > p {
    font-size: 1.25rem;
  }
}

@media (max-width: 680px) {
  .materiais {
    padding-block: 40px;
  }

  .materiais__lista {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .materiais__item {
    grid-template-rows: auto;
  }
}

@media (max-width: 480px) {
  .materiais__item > :first-child {
    font-size: 1.25rem;
  }
  .materiais__item > :last-child a,
  .materiais__item > p {
    font-size: 1rem;
  }
  .materiais__item__lista {
    font-size: 1.25rem;
  }
}
