.previas {
  padding-block: 60px;
}

.previas > * + * {
  margin-top: 1em;
}

.previas > h2 {
  text-align: center;
  font-family: Copse;
  font-size: 3.75rem;
  line-height: 1.1;
  margin-bottom: 1em;
}

.previas__list {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.previas__item {
  display: grid;
  grid-template-rows: 80px auto 1fr;
}

.previas__item > * + * {
  margin-top: 1em;
}

.previas__item > h3 {
  font-family: Mali;
  font-size: 2rem;
}

.previas__video {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;
}

.previas__video iframe {
  width: 100%;
  height: 100%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.previas__item > :last-child a {
  font-family: Copse;
  font-size: 1.5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  background: #70f;
  color: #fbfaff;
  width: 100%;
  text-align: center;
}

.previas__item > :last-child a:hover {
  background: #107;
}

.previas__text {
  font-family: Mali;
  font-size: 3rem;
  text-align: center;
}

.previas__text a,
.previas__text span {
  font-family: Copse;
}

@media (max-width: 960px) {
  .previas > h2 {
    font-size: 3rem;
  }

  .previas__item > h3 {
    font-size: 1.75rem;
  }
  .previas__list {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .previas__item {
    grid-template-rows: auto;
  }
  .previas__text {
    font-size: 2.5rem;
  }
}

@media (max-width: 680px) {
  .previas {
    padding-block: 20px;
  }
  .previas__item > :last-child a {
    font-size: 1.25rem;
  }
  .previas__text {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .previas > h2 {
    font-size: 2.5rem;
  }
  .previas__item > h3 {
    font-size: 1.5rem;
  }

  .previas__text {
    font-size: 1.5rem;
  }
}
