.sobre--bg {
  background: #fff;
  padding-block: 40px;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.sobre__content > * + * {
  margin-top: 1em;
}

.sobre__content > p {
  font-family: "Mali";
  font-size: 1.5rem;
}

.sobre__content a {
  text-decoration: underline;
}

.sobre__img > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sobre__links {
  display: flex;
  gap: 16px;
}

.sobre__links img {
  width: 28px;
  color: #070033;
}

@media (max-width: 680px) {
  .sobre--bg {
    padding-block: 20px;
  }

  .sobre {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .sobre__content > p {
    font-family: "Mali";
    font-size: 1rem;
  }
}
