.sobre--bg {
  background: #fbfaff;
}

.sobre {
  padding-block: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
}

.sobre__img > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.sobre__info > * + * {
  margin-top: 1em;
}

.sobre__info > p {
  font-family: Mali;
  font-size: 2rem;
}

.sobre__info > p > span,
.sobre__info > p > a {
  font-family: Copse;
}

.sobre__info > p > a {
  text-decoration: underline;
}

.sobre__info > ul {
  font-family: Copse;
  font-size: 1.5rem;
}

.sobre__info > ul > * + * {
  margin-top: 1em;
}

.sobre__info > ul > li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sobre__info > ul > li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 12px;
  background: url("../icon/check.svg") no-repeat;
}

@media (max-width: 960px) {
  .sobre__info > p {
    font-size: 1.75rem;
  }
}

@media (max-width: 680px) {
  .sobre {
    grid-template-columns: 1fr;
    padding-block: 40px;
  }

  .sobre__img {
    order: 1;
  }

  .sobre__img > * {
    height: 400px;
  }
  .sobre__info > p {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .sobre__info > p,
  .sobre__info > ul {
    font-size: 1.25rem;
  }
  .sobre__img > * {
    height: 280px;
  }
}
