@import "./global.css";
@import "./header.css";
@import "./intro.css";
@import "./sobre.css";
@import "./extra.css";
@import "./materiais.css";
@import "./previas.css";
@import "./faq.css";
@import "./footer.css";
