@import "./global.css";
@import "./intro.css";
@import "./feedback.css";
@import "./sobre.css";
@import "./ratings.css";
@import "./course.css";
@import "./video.css";
@import "./buy.css";
@import "./faq.css";
@import "./footer.css";
