.question {
  padding-block: 40px;
}

.question .subtitle {
  color: #fbfaff;
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.video__mod1,
.video__mod2 {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 1rem;
}

.video iframe {
  width: 100%;
  height: 100%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 960px) {
}

@media (max-width: 680px) {
  .question {
    padding-block: 20px;
  }
  .video {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .previas > h2 {
    font-size: 2.5rem;
  }
  .previas__item > h3 {
    font-size: 1.5rem;
  }

  .previas__text {
    font-size: 1.5rem;
  }
}
