* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 32px;
}

.header__nav li a {
  font-family: Copse;
  font-size: 1.25rem;
  color: #131317;
  padding: 0.5em 1em;
}

.header__nav li a:hover {
  color: #70f;
}

@media (max-width: 680px) {
  .header > :first-child {
    width: 120px;
  }
  .header {
    flex-direction: column;
    gap: 32px;
  }
  .header__nav {
    display: flex;
    gap: 20px;
  }
  .header__nav li a {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    background: #107;
    color: #fbfaff;
  }
  .header__nav li a:hover {
    background: #a7a6b2;
  }
}

@media (max-width: 400px) {
  .header__nav li a {
    font-size: 0.875rem;
  }
}

@media (max-width: 400px) {
  .header > :first-child {
    width: 100px;
  }
  .header__nav {
    gap: 16px;
  }
}
